body{
    height: 100%;
    width: 100%;
}
p{
    margin: 0;
    vertical-align: middle;
  
}
nav{
    position: absolute;
}

.cart{
    position: absolute;
    width:25rem; 
    top:100%;
    height: 40rem;
    right: 0;
    background-color: white;
    border-radius: 0.5%;
    border:solid 1px;
    z-index: 9;
    justify-content: center;
    overflow: auto;
    
  
}

.cart_div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.inc_dec_input{
    width: 45px;
    height: 40%;
    margin-top: 15%;
}

.remove_btn{
    height: 40%;
    margin-top: 15%;
  
    background-color: red;
    border-color: red;
    font-weight: 700;
    color: #fafafa;
    border-radius: 4px;
}

.cart_contents{
    width: 100%;
    display: flex;
    flex: row;
    justify-content: space-around;
    border: solid 2px;
    border-radius: 4px;
    margin-bottom: 10px;
}


.cart_heading{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 600;
  
}

.notification{

    margin-right: 10px;
    color: #fafafa;
    font-weight: 600;
    width: 270px;
  
    opacity: 0.9;
 
    align-self: center;
    background-color: 	rgb(33, 37, 41);
}
.latest_album{
    font-size: 35%;
    width: 25%;
    align-self: center;
    border: solid  2px;
    border-color: #56CCF2;

}
.table{
    width: 60%;
    color: #777;
}
.generics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family:'Times New Roman', Times, serif,Bold;
    font-size: 5rem;
    color:white;
    background-color: rgb(119, 119, 119);
    margin: 0%;
    height: 20%;

}
.band_img{
    width: 200px;
    height: 200px;
    margin: 20px 50px;
    border-radius: 50%;
}

.products_heading{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

.products{
    background-color:white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.products_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    
}
.card{
    padding: 1%;
    background-color: #fafafa;
    margin-bottom: 15px;
    width: 15rem;
    height: 20rem;

}
.price{
    margin: 0;
    text-align: center;
}
.btn-primary{
    background-color:#56CCF2;
    border: solid;
    font-weight: 700;
    width: 70%; 
    align-self: center;
}
.album{
    margin:0;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.buy_tickets_btn{
    
    border-radius: 5px;
    border: solid;
    border-color: #56CCF2;
    background-color: #56CCF2;
    width: 10rem;
    color: white;
    font-weight: 700;
}

.card-img-top{
    height: 70%;
    background-color: white;
    object-fit:fill;
    transition: 0.4s;
}
.card-img-top:hover{
transform: scale(1.06);
}

